* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

.content h2{
	margin-top: 0px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }

.nopadding {
	padding: 0px;
}

.padding {
	padding-left: 20px;
}

.padding-top {
	padding-top: 20px;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    height: 100%;
}

.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}

.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 15px;
}
.divider.blue {
	background-color: #42C3C9;
}
.divider.green {
	background-color: #9FB80A;
}
.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.menu {
	height: 150px;
	background-color: #E1E17F;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
}
 .restaurant-list {
 	background-color: #F0F0F0;
 	padding: 20px;
u }
 .restaurant-list:hover {
 	background-color: #e1e17f;
 	padding: 20px;
}
.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}
.menu-price {
	font-weight: 700;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}